@font-face {
    font-family: "title-font";
    src: url("../assets/fonts/SDSamliphopangcheTTFOutline.ttf");
  }
  .HeaderNavTitle{
    font-family: "title-font";
  }

  .NickName{
    font-family: "title-font";
  }

.BottomNav{
  border-top-width: 1px;
}

.HeaderNav{
  border-bottom-width: 2px;
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 2s infinite ;
  animation-delay: calc(.2s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-5px);
    color: silver
  }
}