.TicketTitleSmall {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.Ticket1 {
    height : 450px;
    width: 84%;
}
.TicketList {
    height: 450px;
}

.TicketRight{
    width: 276px;
}

.TicketImg{
    width: 276px;
    max-height: 370px;
}

.TicketInfo{
    width: 220px;
}